Repository betagouv/complements-alimentaires, pull requests merged in 2025-01, with the labels that each got.

#1509 Bug fix : ne pas dupliquer des synonymes; ne pas ajouter des synonymes vides
  api/tests/test_declaration.py
  api/views/declaration/declared_element.py
Labels: BUG

#1537 Docker : fix pour une erreur de droits avec les fichiers locals
  Dockerfile
Labels: Technical Task

#1523 Fix(Open-data): Make the schema compatible to table schema standard
  data/schemas/schema_declarations.json
Labels: OPEN DATA

#1536 Bug fix : lien vers l'element utilisé pour remplacer une demande
  frontend/src/views/NewElementsPage/NewElementActionInfo.vue
Labels: BUG

#1565 Fix(Open-Data): Corriger creation champ schema et l'appel au label des articles
  api/serializers/declaration.py
  data/etl/extractor.py
Labels: OPEN DATA

#1566 Fix(Open-Data): Remplacer le quoting level dans l'export csv afin d encapsuler les champs textes
  data/etl/transformer_loader.py
Labels: OPEN DATA
